/* Fade In and Fade Out Animation */
.fade-enter {
  opacity: 0;
  transform: translateY(-2px);
}

.fade-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 500ms, transform 500ms;
}

.fade-exit {
  opacity: 1;
  transform: translateY(0);
}

.fade-exit-active {
  opacity: 0;
  transform: translateY(2px);
  transition: opacity 500ms, transform 500ms;
}

/* For appear (first time render) */
.fade-appear {
  opacity: 0;
}

.fade-appear-active {
  opacity: 1;
  transition: opacity 500ms;
}

@font-face {
  font-family: "PlaywriteIN";
  src: url("../assets/fonts/PlaywriteIN-VariableFont_wght.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}
