# Ignore compiled Python files
*.pyc

# Ignore virtual environment
venv/

# Ignore Node.js dependencies
node_modules/

# Ignore build artifacts
build/
dist/


# Ignore environment variables file
.env

# Ignore Python cache files
__pycache__/