# Ignore compiled Python files
*.pyc
*.tar.gz
*.tar
# Ignore virtual environment
venv/

# Ignore Node.js dependencies
node_modules/

# Ignore build artifacts
build/
dist/

# ignore data
db.sqlite3
**/media/**
**/audio
**/music
**/pics
**/taylor_swift_images/
**/staticfiles
**.log

# Ignore environment variables file
.env**
# Ignore Python cache files
__pycache__/
posters_by_eras