[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
pillow = "*"
django-cors-headers = "*"
mysqlclient = "*"
requests = "*"
beautifulsoup4 = "*"
mutagen = "*"
gunicorn = "*"
matplotlib = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.10"
